<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>Create a new Todo List</h1>
    <form method="post"action="/works">
        
        <input type="text" name="username" placeholder="enter-username">
        <br><br>
        <textarea name="taskname" placeholder="enter task name"></textarea>
        <br><br>
        <textarea type="text" name="priority" placeholder="enter priority"></textarea>
        <br><br>
        <textarea type="text" name="status" placeholder="enter the work status"></textarea>
        <br><br>
        <textarea type="date" name="due" placeholder="enter the due date dd-mm-yy"></textarea>
        <br><br>
        <textarea type="text" name="action" placeholder="enter the task action"></textarea>
        <br><br>
        <button>Create</button>
    </form>
</body>
</html>